html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p,
form, input, div {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}

body {
  font-family: "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体";
}

header {
  background-color: skyblue;
  height: 80px;
}

.header-left {
  float: left;
  color: white;
  font-size: 40px;
  padding: 10px 20px;
}

.copy-container {
  height: 400px;
  background-image: url(https://www.maholova-minds.com/charm/images/190403_18.jpg);
  background-size: cover;
  opacity: 0.7;

}

.copy-container h1 {
  font-size: 90px;
  color: white;
  text-align: center;
  padding-top: 50px;
}

.copy-container p{
  font-size: 40px;
  color: white;
  text-align: center;
}

.copy-container h2 {
  font-size: 60px;
  color: white;
  text-align: center;
}

.heading h1 {
  border-bottom: 2px solid gray;
  text-align: center;
  margin: 10px;
}

.container {
  padding: 30px 80px;
  background-color: #e0ffff;
}

.contents {
  height: 200px;
}

.content a {
  float:left;
  font-size: 36px;
  line-height: 140px;
  border-radius: 20px;
  width: 30%;
  background-color: #87cefa;
  margin: 20px;
  text-align: center;
}

footer {
  background-color: #1e90ff;
  height: 60px;
}

.footer-right {
  float: right;
  color: white;
  font-size: 30px;
  padding: 10px 20px;
}
