html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p,
form, input, div {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}

body {
  font-family: "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体";
}

header {
  background-color: gray;
  height: 80px;
  width: 2000px;
  position: fixed;
  top: 0;
  z-index: 10;
  float: left;
  color: white;
  font-size: 36px;
  padding: 10px 20px;
}

.copy-container {
  height: 600px;
  background-image: url(https://www.maholova-minds.com/charm/images/190403_18.jpg);
  background-size: cover;
  opacity: 0.7;

}

.copy-container h1 {
  font-size: 90px;
  color: white;
  text-align: center;
  padding-top: 160px;
}

.copy-container p {
  font-size: 40px;
  color: white;
  text-align: center;
}

.copy-container h2 {
  font-size: 60px;
  color: white;
  text-align: center;
}

.heading h1 {
  border-bottom: 2px solid gray;
  text-align: center;
  margin-left: 80px;
  margin-right: 80px;
  padding: 10px 0;
  background-color: skyblue;
  border-radius: 10px;
  margin-top: 10px
}

.container {
  background-color: #e0ffff;
}

.contents {
  height: 250px;
}

.content p {
  font-size: 24px;
  line-height: 75px;
  margin: 5px;
  text-align: center;
}

.container-hotel {
  background-color: #e0ffff;
}

.container-hotel a {
  display: inline-block;
  font-size: 24px;
  line-height: 75px;
  margin: 5px;
  padding-left: 620px;
  padding-right: 620px;
}

.video {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.container-item {
  height: 700px;
  background-color: #e0ffff;
}

.heading li {
  font-size: 24px;
  text-align: center;
  padding:10px;
}

.gmap {
  text-align: center;
}

.access-background {
  height: 500px;
  background-image: url(https://www.maholova-minds.com/access/images/map.jpg);
  background-size: cover;
}

.access-train h3 {
  font-size: 24px;
  border-bottom: 2px solid gray;
  text-align: center;
  margin-left: 80px;
  margin-right: 80px;
  padding: 10px 0;
  margin-top: 10px
}

.access-train p {
  font-size: 24px;
  text-align: center;
  padding:10px;
  font-weight: bold;
}

.access-gmap {
  text-align: center;
}

footer {
  background-color: #1e90ff;
  height: 60px;
}

.footer-right {
  float: right;
  color: white;
  font-size: 30px;
  padding: 10px 20px;
}
